
body {
	height: 100%;
	text-align: left;
	width: 100%;
	background-color: #FFFFFF;
	font-family: "Times"; 
	color: #696969; 
}
h1 {
	font-size: 32px;
}
h2 {
	font-size: 30px;
	color: #696969; 
}

.left {
	padding: 20px;
	border: 1px solid;
	margin-color: #C0C0C0;
    	margin-top: 100px;
    	margin-bottom: 100px;
    	margin-right: 150px;
    	margin-left: 80px;
    	background-color: #FFFFFF;
}
ul.a {
	list-style-type: circle;
}




	
