
body {
	height: 100%;
	margin: 0;
	text-align: left;
	width: 100%;
}
h1 {
	font-size: 32px;
	font-family: Calibri; 
}
h2 {
	font-size: 30px;
	color: #000080; 
}
.header {
	padding: 100px;
	margin: 30px;
}

.left {
	padding: 100px;
	margin: 50px;
}



	
