
body {
	height: 100%;
	margin: 0;
	text-align: left;
	width: 100%;
	background-color: #FFE4E1;
}
h1 {
	font-size: 32px;
	font-family: Calibri; 
}
h2 {
	font-size: 30px;
	color: #000080; 
}

.left {
	padding: 50px;
	margin: 50px;
}




	
